body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}



main {
    flex: 1;
    padding: 20px;
    background: #fff;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    text-align: center;
    padding: 10px 20px;
    background: #003366;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
/*index*/
.home-main h2{
    color: #003366;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.btn-primary {
    padding: 10px 20px;
    background-color:  #003366;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #00509e;
}
/* General */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

/* Header */
header {
    background: #003366;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #00509e;
    border-radius: 5px;
}

nav ul li a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    border-radius: 5px; /* Hace las cajas redondeadas */
    transition: all 0.3s ease; /* Transición suave */
}

nav ul li a:hover {
    background: #00264d;
    color: #00509e;
    border-radius: 10px; /* Opción: aumenta el radio en hover */
    text-decoration: none; /* Asegura que no haya subrayado */
}

/* Degree Section */
.color{
    color: #003366;
}

.course-container {
    display: flex; /* Activar Flexbox */
    flex-direction: column; /* Alinear verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    align-items: stretch; /* Alinear verticalmente de manera uniforme */
    gap: 20px; /* Espaciado entre las cajas */
    padding: 20px;
    
}

.course-container ul li{
        color: #003366;
}

.course-section {
    flex: 1 1 30%;
    min-width: 200px;
    max-width: 300px;
    margin: 10px;
    padding: 15px;
    background:#f0f9ff;
    border: 1px solid #b2e2f2;
    border-radius: 8px;
    text-align: center;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.course-section:hover {
    background: #b2ebf2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.course-title {
    cursor: pointer;
    font-size: 1.2em;
    color: #00509e;
    margin: 0;
    font-weight: bold;
    text-transform: capitalize;
}

.course-title:hover {
    color: #00264d;
}
@media (max-width: 768px) {
    .course-section {
        flex: 1 1 45%; /* Ocupa el 45% del ancho disponible */
    }
}

@media (max-width: 480px) {
    .course-section {
        flex: 1 1 100%; /* Cada caja ocupa el 100% en pantallas muy pequeñas */
    }
}



.degree-summary {
    margin: 20px auto;
    padding: 20px;
    background: #f0f9ff;
    border: 1px solid #b2e2f2;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.degree-summary h2 {
    font-size: 1.8em;
    color: #003366;
    margin-bottom: 15px;
    text-align: center;
}

.degree-summary p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
    text-align: justify;
}

.degree-summary ul {
    list-style: disc inside;
    padding-left: 20px;
    margin: 10px 0;
}

.degree-summary ul li {
    font-size: 1em;
    color: #003366;
    margin: 5px 0;
}

.degree-summary ul li strong {
    color: #003366;
}


/*hasta aqui el degree*/
/* Hidden Class */
.hidden {
    display: none;
}


/* Estilo especial para el formulario */
form {
    width: 100%;
    max-width: 600px;
    background: #f0f9ff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    border: 1px solid #b2e2f2;
    color: #003366;
    font-size: 1rem;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea,
form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b2e2f2;
    border-radius: 8px;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
}

form button {
    background: #003366;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    transition: background-color 0.4s ease, transform 0.2s ease; /* Transición suave */
}


form button:hover {
    background: #00509e; /* Color del botón al hacer hover */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
}

.hidden {
    display: none;
}

/* Estilo para about */
.about-main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.about-section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f0f9ff;
    border: 1px solid #b2e2f2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
    color: #003366;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.about-section p {
    color: #333;
    line-height: 1.6;
}

/* Estilo para el botón de descarga */
.cv-download {
    display: inline-block;
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.cv-download:hover {
    background-color: #00509e;
}

/* Galería */
.about-gallery {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    background-color: #f0f9ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}
.about-gallery h2 {
    color: #003366;

}

.gallery-images-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery-image {
    max-width: 45%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
}

/* Botones para cambiar de imagen */
.gallery-controls {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gallery-btn {
    background-color: #00509e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s;
}

.gallery-btn:hover {
    background-color: #003366;
    transform: scale(1.1);
}

/*iconos de redes*/
.social-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.social {
    color: black; /* Color del icono */
    background-color: #e0f7fa; /* Fondo inicial de la cajita */
    padding: 15px;
    border-radius: 10px; /* Bordes redondeados para la cajita */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease; /* Transición suave para hover */
}

.social:hover {
    background-color: #00509e; /* Fondo azul en hover */
    color: white; /* Cambia el color del icono a blanco en hover */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño en hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.social i {
    font-size: 1.8rem; /* Tamaño de los iconos */
}

/* estilo par fii */
/* Main y Secciones */
.fii-main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.fii-main h2,strong {
    color: #003366;

}

.fii-section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f0f9ff;
    border: 1px solid #b2e2f2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Modales */
.fii-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.fii-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fii-modal-close {
    background-color: #00509e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.fii-modal-close:hover {
    background-color: #003366;
}
.fii-modal-trigger {
    background-color: #003366; /* Color azul oscuro */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    margin-top: 10px; /* Espaciado superior */
}

.fii-modal-trigger:hover {
    background-color: #00509e; /* Azul más claro al hacer hover */
    transform: scale(1.05); /* Pequeño aumento de tamaño */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al hacer hover */
}



/* net.html */

/* Contenedor de tarjetas */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #f0f9ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo de las tarjetas */
.card {
    background-color: white;
    border: 1px solid #b2e2f2;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
}

.card h3 {
    color: #003366;
    margin-bottom: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Botón para los enlaces */
.btn-link {
    display: inline-block;
    background-color: #00509e;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-link:hover {
    background-color: #003366;
    transform: scale(1.05);
}

/*topic*/
/* General para topic */
.topic-main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.topic-section,
.topic-gallery,
.topic-video,
.topic-details {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f0f9ff;
    border: 1px solid #b2e2f2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Galería */
.gallery-images-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery-image {
    max-width: 45%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
}

.gallery-controls {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gallery-btn {
    background-color: #00509e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s;
}

.gallery-btn:hover {
    background-color: #003366;
    transform: scale(1.1);
}

/* Video */
.video-container {
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    background-color: #f9fbff;
    border: 1px solid #b2e2f2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

iframe {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el iframe */
}

.topic-encounters {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f0f9ff;
    border: 1px solid #b2e2f2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.topic-main h2{
    color: #003366;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.topic-main strong
{
    color: #003366;
}
 .fii-modal-content h2,strong{
    color: #003366;
}




/* estli snake */

.snake {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f9f9f9;
}

.snake h1 {
    margin-top: 20px;
    
}

.snake-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

canvas {
    border: 2px solid #00509e;
    background-color: #d4f5ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.snake-controls {
    margin-top: 10px;
}

.snake-button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

.snake-button:hover {
    background-color: #00509e;
    transform: scale(1.05);
}

.score {
    margin-top: 10px;
    font-size: 18px;
    color: #003366;
}
.no-underline {
    text-decoration: none; /* Elimina el subrayado */
}

.snake h2, h3 {
    color: #003366;
    font-size: 1.5rem;
    margin-bottom: 15px;
}